/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  top: 3rem;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  top: 3rem;
}

/* Formulario de creación de empleado */
#create-form {
  text-align: center;
  margin-bottom: 30px;
}

#create-form input[type="text"] {
  display: block;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  top: 3rem;
  left: 15rem;
}

#create-form button[type="submit"] {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #3d55cf;
  color: rgb(249, 244, 242);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  top: 4rem;
  left: 22rem;
  border-radius: 2%;
}

#create-form button[type="submit"]:hover {
  background-color: #d0201a;
}

/* Tabla de empleados */
#empleados-table {
  width: 80%;
  border-collapse: collapse;
  position: relative;
  top: 3rem;
  left: 6rem;
}

#empleados-table th,
#empleados-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

#empleados-table th {
  background-color: #f2f2f2;
  text-align: left;
}

#empleados-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Media queries para la responsividad */
@media screen and (max-width: 600px) {
  .container {
    padding: 50px;
    position: relative;
    top: 10rem;
  }

  .logo {
    max-width: 550px;
  }

  #create-form input[type="text"],
  #create-form button[type="submit"] {
    width: 100%;
  }
}
